<div class="scanner-shell" [hidden]="!hasDevices">
  <div #scannerContainer class="scanner-container">
    <video #video autoplay playsinline muted></video>
    <canvas #mainPointers id="mainPointers"></canvas>
    <div #scannerArea class="scanner-area"></div>
  </div>

  <div #snapshotContainer class="snapshot-container">
    <img
      #dataMatrixTemplateImage
      src="assets/datamatrix_border1200.jpg"
      alt="template"
    />
    <canvas #snapshotCanvas id="snapshotCanvas"></canvas>
    <canvas #snapshotCanvas2 id="snapshotCanvas2"></canvas>
    <canvas #snapshotPointers id="snapshotPointers"></canvas>
    <canvas #barcodeCanvas id="barcodeCanvas"></canvas>
  </div>

  <div class="options">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="openFormatsDialog()">
        Barcode formats
      </button>
      <button mat-menu-item (click)="openInfoDialog()">App info</button>
    </mat-menu>

    <header>
      <mat-form-field appearance="fill">
        <select
          matNativeControl
          matInput
          (change)="onDeviceSelectChange($event.target.value)"
        >
          <option value="" [selected]="!(currentDevice$ | async)">
            No Device Selected
          </option>
          <option
            *ngFor="let device of availableDevices$ | async"
            [value]="device.deviceId"
            [selected]="
              (currentDevice$ | async) &&
              device.deviceId === (currentDevice$ | async).deviceId
            "
          >
            {{ device.label }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <select
          matNativeControl
          matInput
          (change)="onScanModeSelectChange($event.target.value)"
        >
          <option
            *ngFor="let mode of availableScanMode"
            [value]="mode"
            [selected]="currentScanMode === mode"
          >
            {{ mode }}
          </option>
        </select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onEnableImageFilter('grayScale')"
      >
        {{ enableGrayscale ? "Grayscale" : "No Grayscale" }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onEnableImageFilter('equalization')"
      >
        {{ enableEqualization ? "Equalization" : "No Equalization" }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onEnableImageFilter('invertColor')"
      >
        {{ enableInvertColor ? "Inverting" : "No Inverted" }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onEnableImageFilter('thresHold')"
      >
        {{ enableThreshold ? "Threshold" : "No Threshold" }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onEnableImageFilter('blur')"
      >
        {{ enableBlur ? "Blur" : "No Blur" }}
      </button>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </header>

    <section class="results" *ngIf="result">
      <div>
        <small>Result</small>
        <strong>{{ result }}</strong>
      </div>
      <button mat-icon-button (click)="clearResult()">&times;</button>
    </section>

    <section class="message" *ngIf="message">
      <div>
        <small>Message</small>
        <strong>{{ message | json }}</strong>
      </div>
      <button mat-icon-button (click)="clearMessage($event)">&times;</button>
    </section>

    <section class="error" *ngIf="error">
      <div>
        <small>Error</small>
        <strong>{{ error }}</strong>
      </div>
      <button mat-icon-button (click)="clearError()">&times;</button>
    </section>

    <div class="controlContainer">
      <div>
        <p>影片解析度=> 寬:{{ video.videoWidth }}/高:{{ video.videoHeight }}</p>
        <p>
          畫面顯示大小=> 寬:{{ video.offsetWidth }}/高:{{ video.offsetHeight }}
        </p>
        <p>
          掃描範圍=> 寬:{{ scannerArea.offsetWidth }}/高:{{
            scannerArea.offsetHeight
          }}
        </p>
      </div>
      <div style="display: flex">
        <div class="sliderContainer">
          <mat-slider
            vertical
            (input)="onThresHoldChange($event)"
            [value]="thresHoldValue"
            min="0"
            max="255"
            step="1"
          ></mat-slider>
          <p>T: {{ thresHoldValue }}</p>
        </div>
        <div class="sliderContainer">
          <mat-slider
            vertical
            (input)="onBlurChange($event)"
            [value]="blurValue"
            min="1"
            max="20"
            step="0"
          ></mat-slider>
          <p>B: {{ blurValue }}</p>
        </div>
        <div class="sliderContainer">
          <mat-slider
            vertical
            (input)="onZoomChange($event)"
            [value]="zoomRatio"
            min="1"
            max="5"
            step="0.1"
          ></mat-slider>
          <p>Z: {{ zoomRatio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
